.slideshow-banner {
  position: relative;
  overflow: visible;
  padding-bottom: 90px;
}

.slideshow-banner__content {
  position: relative;
  z-index: 1;
}

.slideshow-banner__subtitle {
  font-size: 17px;
  font-weight: 900;
  max-width: 50%;
  line-height: 1;
  margin-bottom: 85px;
  margin-top: 24px;
}

button.rounded-accent {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 14px;
  letter-spacing: 0.35px;
  padding: 4px 9px;
  border-width: 2px;
}

h1.slideshow-banner__main-title {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.75px;
  margin-bottom: 15px;
  line-height: 1;
}

.slideshow-banner__paragraph {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 32px;
}

button.cta {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.25px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 50px;
}

.slideshow-banner__gradient-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 50px;
  background: white;
}

.slideshow-banner__gradient-wrap,
.slideshow-banner__gradient,
.slideshow-banner__bgwrap {
  height: 250px;
}

.slideshow-banner__gradient {
  background: linear-gradient(
      to left,
      rgba(37, 45, 55, 0) 40%,
      #000000 72.92%,
      #09101a 100%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #000000 70%);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

.slideshow-banner__bgwrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slideshow-banner__gradient-wrap .slideshow-banner__bgimage {
  transition: background-image 0.5s ease-in-out;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 10%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

@media (min-width: 360px) and (orientation: landscape) {
  .slideshow-banner__gradient-wrap,
  .slideshow-banner__gradient,
  .slideshow-banner__bgwrap {
    height: 500px;
  }
}

.slideshow-banner > .container {
  position: relative;
  padding: 0 26px 0;
  max-width: 100%;
}

.slideshow-banner__slide .container {
  position: relative;
  padding: 50px 26px 0;
}

.cutout {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 40%;
}

.slideshow-banner__thumbnails {
  z-index: 1;
  position: relative;
}

@media (min-width: 640px) {
  .wrapper-main {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .slideshow-banner__gradient-wrap .slideshow-banner__bgimage {
    margin-top: 0;
  }

  .slideshow-banner__gradient {
    padding-top: 90px;
  }

  .slideshow-banner__slide .container {
    position: relative;
    padding: 90px 80px 0;
  }

  .slideshow-banner__subtitle {
    font-size: 31px;
    font-weight: 900;
    margin-bottom: 75px;
    margin-top: 80px;
  }

  button.rounded-accent {
    font-size: 14px;
    font-weight: 800;
  }

  h1.slideshow-banner__main-title {
    font-size: 49px;
    font-weight: 900;
  }

  .slideshow-banner__paragraph {
    font-size: 16px;
    font-weight: 500;
    width: 500px;
  }

  button.cta {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0;
  }

  .cutout {
    top: 0;
    max-width: 40%;
    max-height: 100%;
  }

  .slideshow-banner__thumbnails {
    margin-top: 60px;
  }

  .slideshow-banner__thumbnails .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .slideshow-banner__gradient-wrap,
  .slideshow-banner__gradient,
  .slideshow-banner__bgwrap {
    height: 100%;
  }

  .slideshow-banner__gradient-wrap {
    padding-top: 90px;
  }
}

@media (min-width: 900px) {
  .slideshow-banner__thumbnails .grid {
    column-gap: 36px;
  }

  .slideshow-banner__gradient-wrap .slideshow-banner__bgimage {
    background-position: center;
  }
}

@media (min-width: 940px) {
  .slideshow-banner > .container {
    padding-left: 80px;
  }
}
