@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway", serif;
  }

  main {
    color: rgba(255, 255, 255, 1);
  }

  .wrapper-main {
    background: black;
  }
}
