@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway", serif;
  }

  main {
    color: rgba(255, 255, 255, 1);
  }

  @media (min-width: 768px) {
    .more-from {
      font-size: 31px;
      font-weight: 900;
    }

    .rounded-accent {
      font-size: 14px;
      font-weight: 800;
    }

    .main-title {
      font-size: 49px;
      font-weight: 900;
    }

    .paragraph {
      font-size: 16px;
      font-weight: 500;
    }

    .cta {
      font-size: 16px;
      font-weight: 900;
    }
  }

  .slideshow {
    position: relative;
    overflow: visible;
    padding: 0 26px;
    background: black;
    padding-bottom: 90px;
  }

  .main-content {
    z-index: 1;
  }

  .content {
    position: relative;
  }

  .cutout {
    position: absolute;
    right: 0;
    top: -50px;
    right: -20px;
    z-index: 0;
    height: 258px;
  }

  .more-from {
    font-size: 17px;
    font-weight: 900;
    max-width: 50%;
    line-height: 1;
    margin-bottom: 85px;
    margin-top: 24px;
  }

  button.rounded-accent {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 14px;
    letter-spacing: 0.35px;
    padding: 4px 9px;
    border-width: 2px;
  }

  h1.main-title {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.75px;
    margin-bottom: 15px;
    line-height: 1;
  }

  .paragraph {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  button.cta {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.25px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 50px;
  }
}
